[submodule "RateCasterApp"]
	path = RateCasterApp
	url = https://github.com/Rainbow1nTheDark/RateCasterApp
[submodule "RateCasterLandingPage"]
	path = RateCasterLandingPage
	url = https://github.com/Rainbow1nTheDark/RateCasterLandingPage
[submodule "RateCasterFrames"]
	path = RateCasterFrames
	url = https://github.com/Rainbow1nTheDark/RateCasterFrames
[submodule "RateCasterSDK"]
	path = RateCasterSDK
	url = https://github.com/Rainbow1nTheDark/RateCasterSDK
