# dependencies
/RateCasterDapp/node_modules

# yarn
/RateCasterDapp/.yarn/*
!/RateCasterDapp/.yarn/patches
!/RateCasterDapp/.yarn/plugins
!/RateCasterDapp/.yarn/releases
!/RateCasterDapp/.yarn/sdks
!/RateCasterDapp/.yarn/versions

# eslint
/RateCasterDapp/.eslintcache

# misc
/RateCasterDapp/.DS_Store

# IDE
.vscode
.DS_Store
/RateCasterDapp/.vscode
/RateCasterDapp/.idea
/RateCasterDapp/.vercel
/RateCasterDapp/packages/hardhat/deployments/optimismSepolia/.chainId
/RateCasterDapp/packages/hardhat/deployments/optimismSepolia/DappRaterSchemaResolver.json
/RateCasterDapp/packages/hardhat/deployments/optimismSepolia/solcInputs/d415057fd74441cb9f9f26ddb0159806.json

# ENVs
/RateCasterDapp/packages/hardhat/.env
/RateCasterDapp/packages/nextjs/.env

# RateCasterFrame directory

/RateCasterFrame/.env
/RateCasterFrame/node_modules
/RateCasterFrame/.pnp
/RateCasterFrame/.pnp.js

# production
/RateCasterFrame/docs/dist

# misc
/RateCasterFrame/.DS_Store
/RateCasterFrame/*.pem

# debug
/RateCasterFrame/npm-debug.log*
/RateCasterFrame/yarn-debug.log*
/RateCasterFrame/yarn-error.log*

# typescript
/RateCasterFrame/*.tsbuildinfo

